@use 'variables';

table {
    border-collapse: collapse;
    margin: 5px 0;
    width: 45rem;

    tr:nth-child(2n+0) {
        background-color: variables.$table-background-a;
    }
    tr:nth-child(2n+1) {
        background-color: variables.$table-background-b;
    }

    td {
        padding: 7px;
        // display: flex;
        // flex-direction: column;
        // align-items: center;
        // justify-content: center;

        &>* {
            margin-left: auto;
            margin-right: auto;
        }
    }
}
