$page-background: #f8fafc;
$card-background: #d8d1df;
$text-colour: #27272b;
$preview-colour: #9393a1;

$table-background-a: rgb(217, 230, 226);
$table-background-b: rgb(198, 221, 224);

$nav-colour: #82c0d8;
$danger-colour: #d34b68;

$field-background: $page-background;
$form-item-border-radius: 5px;
