@use 'sass:color';
@use '../variables';

@mixin button ($colour) {
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    padding: 5px 0;
    background-color: $colour;
    width: 6rem;
    height: auto;
    border-radius: 5px;
    color: variables.$text-colour;
    text-decoration: none;

    cursor: pointer;

    &:hover {
        background-color: color.adjust($colour, $lightness: -15%);
    }

    &:disabled {
        background-color: color.adjust($colour, $saturation: -100%);
    }
}
